<body id="flex-2">
  <meta name="viewport" content="width=device-width, initial-scale=.8">

  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">

<link rel="stylesheet" href="./styles/style.css">
<form action="">
  <input type="text"/>
  <button>Search</button>

</form>

<div id="content">
</div>


<script src="./src/postData.js"></script>
</body>
