body
{
  display:flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
input[type=text] {
  width: 100%;
  padding: 13px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  width:20vw;
  font-family: 'Mulish', sans-serif;

  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
button:hover
{
  background-color: #B53471;
  cursor:pointer;
}
input[type=text]:focus {
  border: 3px solid lightblue;
}

button,p
{
  padding: 1.1rem;
  width:10vw;
  margin: 8px 0;
  font-family: 'Mulish', sans-serif;
  font-weight:15;

  border:0;
}
button
{
  background-color:#ED4C67;
  color:white;
  transition: background-color 2s;
}
div
{
  display:flex;
}

img
{
  height:40vw;
}

@media only screen and (max-width: 600px) {
{
  #flex-2
  {
    display:flex;
    flex-direction: column;
  }
  button
  {
    width:30vw;
  }
}
